.firstColCont {
    width: 240px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#submit {
    position: relative;
    width: fit-content;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 1.25rem;
    margin-bottom: 10px;
    padding: 5px 10px;
    transition: all .2s ease-in-out;
}

#submit:hover {
    background-color: white;
    color: black;
}

.secondFormCont {
    width: 250px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.secondFormCont h2 {
    text-align: center;
}

.firstColCont label {
    font-weight: bold;
    margin-bottom: 5px;
}

.firstColCont input {
    border: 2px solid rgb(96, 35, 124);
    border-radius: 4px;
    width: 200px;
    padding: 4px;
}

.firstColCont div {
    margin-bottom: 10px;
}

.firstColCont h2 {
    text-align: center;
}